# Ignore the .env file which contains sensitive information
.env

# Ignore .scratch files which may contain temporary data

# Any compiled folders, at any level
bin/
obj/

# Any .json
*.json

# Private / Public key
id_rsa
id_rsa.pub